<section class="welcome-index">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <% if Settings.company.logo_image_url.to_s.end_with?('.svg') %>
          <object type="image/svg+xml" data="<%= Settings.company.logo_image_url %>" class="img-logo"></object>
        <% else %>
          <%= image_tag Settings.company.logo_image_url, class: 'img-logo' %>
        <% end %>
        <p class="text-welcome"><%= Settings.company.name_kana %> へようこそ</p>
      </div>
    </div>
  </div>
</section>
<section class="welcome-business">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3><i class="mdi-communication-business"></i> お客様向け</small></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <%= link_to '総合受付・人事総務', members_path(group_name: 'human-resource'), class: "list-group-item btn-material-green" %>
      </div>
      <div class="col-md-3">
        <%= link_to 'セールス', members_path(group_name: 'sales'), class: "list-group-item btn-material-green" %>
      </div>
      <div class="col-md-4">
        <%= link_to 'マーケティング', members_path(group_name: 'marketing'), class: "list-group-item btn-material-green" %>
      </div>
    </div>
    <div class="row thin">
      <div class="col-md-7">
        <%= link_to 'その他 全社員から探す', members_path, class: "list-group-item btn-material-light-green" %>
      </div>
      <div class="col-md-5">
        <%= link_to '#', class: "list-group-item btn-material-light-green" do %>
          <i class="glyphicon glyphicon-search"></i> 名前で探す
        <% end %>
      </div>
    </div>
  </div>
</section>
<section class="welcome-deliver">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3><i class="mdi-maps-local-shipping"></i> 配送業者向け</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= link_to '配達に来ました', '#', class: 'list-group-item btn-material-lime', 'data-toggle' => 'modal', 'data-target' => "#attendDeliver" %>
        <div class="modal fade attendMember" id="attendDeliver" tabindex="-1" role="dialog" aria-labelledby="dialogHeader" area-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">&nbsp;</h4>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-2 col-md-offset-1">
                      <i class="mdi-maps-local-shipping" style="font-size:100px;"></i>
                    </div>
                    <div class="col-md-6 col-md-offset-2">
                      <p class="text-left"><strong>荷物の配達</strong>です。<br>受け取り可能な社員を呼び出します。</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <%= form_tag(attendees_path(type: 'deliver'), id: "attendDeliverForm") do%>
                  <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">キャンセル</button>
                  <%= button_tag '呼び出す', class: 'btn btn-primary btn-lg', data: { disable_with: 'Sending...' }, form: "attendDeliverForm" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <%= link_to '集荷に来ました', '#', class: 'list-group-item btn-material-lime', 'data-toggle' => 'modal', 'data-target' => "#attendCollect"%>
        <div class="modal fade attendMember" id="attendCollect" tabindex="-1" role="dialog" aria-labelledby="dialogHeader" area-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">&nbsp;</h4>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-2 col-md-offset-1">
                      <i class="mdi-maps-local-shipping" style="font-size:100px;"></i>
                    </div>
                    <div class="col-md-6 col-md-offset-2">
                      <p class="text-left"><strong>荷物の集荷</strong>です。<br>対応可能な社員を呼び出します。</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <%= form_tag(attendees_path(type: 'collect'), id: "attendCollectForm") do%>
                  <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">キャンセル</button>
                  <%= button_tag '呼び出す', class: 'btn btn-primary btn-lg', data: { disable_with: 'Sending...' }, form: "attendCollectForm" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
