<%
  attr_scope = [ :activerecord, :attributes, :member ]
  hint_scope = [ :activerecord, :hints, :member ]
%>
<div class="container-fluid">
  <%= form_for @member, url: admin_profile_path, html: {  } do |f| %>
    <% if @member.errors.any? %>
      <div class="alert alert-warning">
        <% @member.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </div>
    <% end %>
    <fieldset>
      <div class="form-inline">
        <div class="form-group form-group-lg">
          <% if @member.image_url? %>
            <%= image_tag @member.image_url, width: '140px', class: 'img-rounded' %>
          <% end %>
        </div>
      </div>

      <div class="form-inline">
        <div class="form-group form-group-lg">
          <%= f.email_field :email, class: 'form-control floating-label span5', placeholder: t(:email, scope: attr_scope), 'data-hint' => t(:email, scope: hint_scope, domain: ENV['GOOGLE_HOSTED_DOMAIN'] || 'example.com') %>
        </div>
      </div>

      <div class="form-inline">
        <div class="form-group form-group-lg">
          <%= f.select :group_id, Group.all.collect { |g| [ (g.name_kana.presence || '役員など'), g.id ] }, { include_blank: true }, { class: 'form-control floating-label', placeholder: t('activerecord.models.group') } %>
        </div>
      </div>

      <div class="form-inline">
        <div class="form-group form-group-lg">
          <%= f.text_field :family_name, class: 'form-control floating-label span5', placeholder: t(:family_name, scope: attr_scope), 'data-hint' => t(:family_name, scope: hint_scope) %>
        </div>
        <div class="form-group form-group-lg">
          <%= f.text_field :given_name, class: 'form-control floating-label span5', placeholder: t(:given_name, scope: attr_scope), 'data-hint' => t(:given_name, scope: hint_scope) %>
        </div>
      </div>

      <div class="form-inline">
        <div class="form-group form-group-lg">
          <%= f.text_field :family_name_kana, class: 'form-control floating-label span5', placeholder: t(:family_name_kana, scope: attr_scope), pattern: '^[あ-ん]+$', 'data-hint' => t(:family_name_kana, scope: hint_scope) %>
        </div>
        <div class="form-group form-group-lg">
          <%= f.text_field :given_name_kana, class: 'form-control floating-label span5', placeholder: t(:given_name_kana, scope: attr_scope),  pattern: '^[あ-ん]+$', 'data-hint' => t(:given_name_kana, scope: hint_scope) %>
        </div>
      </div>

      <div class="form-inline">
        <div class="form-group form-group-lg">
          <%= f.text_field :family_name_alphabet, class: 'form-control floating-label span5', placeholder: t(:family_name_alphabet, scope: attr_scope), pattern: '^[A-Za-z]+$', 'data-hint' => t(:family_name_alphabet, scope: hint_scope) %>
        </div>
        <div class="form-group form-group-lg">
          <%= f.text_field :given_name_alphabet, class: 'form-control floating-label span5', placeholder: t(:given_name_alphabet, scope: attr_scope), pattern: '^[A-Za-z]+$', 'data-hint' => t(:given_name_alphabet, scope: hint_scope) %>
        </div>
      </div>

      <div class="form-inline">
        <div class="form-group form-group-lg">
          <div class="input-group">
            <div class="input-group-addon">@</div>
            <%= f.text_field :slack_identifier, class: 'form-control floating-label span5', placeholder: t(:slack_identifier, scope: attr_scope), pattern: '^[0-9A-Za-z-_]+$', 'data-hint' => t(:slack_identifier, scope: hint_scope) %>
          </div>
        </div>
      </div>

      <div class="form-group form-group-lg">
        <%= f.submit nil, class: 'btn btn-primary btn-lg' %>
      </div>
    </fieldset>
  <% end %>
</div>
