<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KnockOn</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="welcome">
    <header class="navbar navbar-default navbar-fixed-bottom navbar-material-light-green" role="navigation">
      <div class="container">
        <div class="navbar-header navbar-right">
          <%= link_to 'KnockOn', root_path, class: 'navbar-brand' %>
        </div>
        <ul class="nav navbar-nav">
          <li>
            <% if logged_in? %>
              <%= link_to admin_path do %>
                <i class="glyphicon glyphicon-cog"></i>
              <% end %>
            <% else %>
              <%= link_to '/auth/google' do %>
                <i class="glyphicon glyphicon-cog"></i>
              <% end %>
            <% end %>
          </li>
        </ul>
      </div>
    </header>
    <div class="container-fluid main">
      <% if flash[:notice] %>
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= flash[:alert] %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
